*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store

git add --all .
git commit -m "My Django Girls app, first commit"
 [...]
 13 files changed, 200 insertions(+)
 create mode 100644 .gitignore
 [...]
 create mode 100644 mysite/wsgi.py

  git remote add origin https://github.com/Nberrios101/my-first-blog.git
 git push -u origin master
